*.lock
.metadata/.log
*.gen
.metadata/.mylyn/.tasks.xml.zip
*.index
*.fdx
*.nrm
*.prx
*.ini
*.setup
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.prefs
.metadata/.plugins/org.eclipse.core.resources/.history/f7/804d958d6fd400171fbc8cb7aaefcb78
*.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdt
*.fdt
.metadata/.mylyn/.taskListIndex/segments_1
*.zip
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
*.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.tis
*.log
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_2
*.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.tis