*.lock
.metadata/.log
*.gen
.metadata/.mylyn/.tasks.xml.zip
*.index
*.fdx
*.nrm
*.prx
*.ini
*.setup
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.prefs
.metadata/.plugins/org.eclipse.core.resources/.history/f7/804d958d6fd400171fbc8cb7aaefcb78
*.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdt
*.fdt
.metadata/.mylyn/.taskListIndex/segments_1
*.zip
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
*.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.tis
*.log
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_2
*.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.tis
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.core.resources/.history/f1/102f946473d400171fbc8cb7aaefcb78
*.dat
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.snap
.metadata/.plugins/org.eclipse.core.resources/.history/e2/c0992fa473d400171fbc8cb7aaefcb78
.metadata/.plugins/org.eclipse.core.resources/.history/c4/d09cd87473d400171fbc8cb7aaefcb78
.metadata/.plugins/org.eclipse.core.resources/.history/c3/b0eba72173d400171fbc8cb7aaefcb78
.metadata/.plugins/org.eclipse.core.resources/.history/c5/4064a7af73d400171fbc8cb7aaefcb78
*.xml
*.history